body {
    background: rgb(99, 99, 206);
    font-family: Arial, sans-serif;
    font-size:  15pt;
    font-weight: normal;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

form {
    padding: 10px;
}

#res {
    text-align: center;
}

section div {
   margin: 10px auto;
}

footer {
    color:white;
    text-align: center;
    font-style: italic;
}